<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.project.pfa.movemore" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_move_more"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <service android:name=".Step.Vibration" >
            <intent-filter>
                <action android:name="ai.project.pfa.movemore.Step.Vibration" />
            </intent-filter>
        </service>


        <activity
            android:name=".Step.ModeNormal"
            android:label="@string/title_activity_mode_normal" >
        </activity>
        <activity
            android:name=".graphics.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stat.Statistics"
            android:label="@string/title_activity_statistics" >
        </activity>
    </application>

</manifest>
